<script src="https://pixijs.download/release/pixi.min.js"></script>

<!-- <script src="https://pixijs.download/release/pixi.min.js"></script> -->

{% extends "base.html" %}

{% block title %}ADHD Game{% endblock %}

{% block content %}
    <div class="container-fluid position-absolute top-50 start-50 translate-middle">
        <script>
            let width = window.innerWidth;
            let height = 700;
            //Create a Pixi Application
            let app = new PIXI.Application({width: width, height: height, backgroundColor:'#D5F4FA'});
            globalThis.__PIXI_APP__ = app;
            document.body.appendChild(app.view);
    
            //Load textures
            let sprite_text = PIXI.Texture.from("{{ url_for('static', filename='img/01-carrot-2.png') }}");
            let default_icon = "url({{ url_for('static', filename='img/moving_rabbit_cursor.png') }}), auto";
            let hover_icon = "url({{ url_for('static', filename='img/cursor_sat.png') }}), auto";

            let target_x = Math.random() * (width - 100) + 50;
            let target_y = Math.random() * (height - 100) + 50;

            let target = createSprite(target_x, target_y, sprite_text, 0.1, true);
            app.renderer.events.cursorStyles.default = default_icon;
            app.renderer.events.cursorStyles.hover = hover_icon;
    
            let currentDirectionX = 1;
            let currentDirectionY = 1;
            let currentSpeed = 0.4;
    
            let elapsed = 0.0;
            let eaten = 0.0;
    
            function createSprite(x, y, texture, size, hoverable){
                let sprite = new PIXI.Sprite(texture);
                sprite.eventMode = 'static';
                sprite.cursor = 'hover';
                sprite.anchor.set(0.5);
                sprite.x = x;
                sprite.y = y;
                sprite.scale.set(size)
                if(hoverable){
                    sprite.on('pointerover', onHoverStart, sprite);
                }
                app.stage.addChild(sprite);
                return sprite;
            }

            let HoverTarget = null;

            app.stage.eventMode = 'static';
            app.stage.hitArea = app.screen;
            app.stage.on('pointerout', onHoverEnd);

            function onHoverStart(){
                HoverTarget = this;
            }

            function onHoverEnd(){
                HoverTarget = null;
            }

            function gameOver(){
                //stops the game and force the user to redirect to the game check page
                app.stop();
                //redirect to the game check page
                window.location.href = "{{ url_for('game.gameOver') }}";
            }
    
            app.ticker.add(function(delta){
                //sprite's x and y are changed randomly and incrementally here
                //using math random
                elapsed += delta;
                target.x += currentDirectionX * currentSpeed;
                target.y += currentDirectionY * currentSpeed;
                //if the target's x is smaller than 0 or bigger than the width of the screen
                //change the direction
                if(target.x < 0 || target.x > app.screen.width){
                    currentDirectionX *= -1;
                }
                if(HoverTarget){
                    eaten += delta;
                }
                if(eaten > 3000){
                    gameOver();
                }
                if(elapsed > 6000){
                    gameOver();
                }
                //if the target's y is smaller than 0 or bigger than the height of the screen
                //change the direction
                if(target.y < 0 || target.y > app.screen.height){
                    currentDirectionY *= -1;
                }
                
                if(elapsed > 300){
                    elapsed = 0.0;
                    //randomly change direction
                    currentDirectionX = Math.random() * 2 - 1;
                    currentDirectionY = Math.random() * 2 - 1;
                    //convert the direction to a whole number
                    currentDirectionX = Math.round(currentDirectionX);
                    currentDirectionY = Math.round(currentDirectionY);
                    //if any direction is 0, randomly change it to 1 or -1
                    if(currentDirectionX == 0){
                        currentDirectionX = Math.random() * 2 - 1;
                        currentDirectionX = Math.round(currentDirectionX);
                    }
                    if(currentDirectionY == 0){
                        currentDirectionY = Math.random() * 2 - 1;
                        currentDirectionY = Math.round(currentDirectionY);
                    }
                }
            });
        </script>
    </div>
    
{% endblock %}


