{% extends "base.html" %}

{% block title %}Game{% endblock %}

{% block content %}
    <div class="container-fluid">
        <h1>Game</h1>
        <p class="lead">Welcome to the game! This is a temporary placeholder, as authentication, authorization and accounting have not been setup yet.</p>
        <p>
            <a class="btn btn-primary" href="{{ url_for('game.ASD') }}">ASD Game</a>
            <a class="btn btn-primary" href="{{ url_for('game.ADHD') }}">ADHD Game</a>
        </p>
    </div>
    
{% endblock %}