<script src="https://pixijs.download/release/pixi.min.js"></script>

<!-- <script src="https://pixijs.download/release/pixi.min.js"></script> -->

{% extends "base.html" %}

{% block title %}Game{% endblock %}

{% block content %}
    <h1>Game</h1>

    <p>Game Dev Test Page</p>

    <script>
        let app = new PIXI.Application({width: 80, height: 80});
        document.body.appendChild(app.view);

        // create a new Sprite from an image path
        let goblin = PIXI.Sprite.from("{{ url_for('static', filename='img/just_goblin.png') }}");
        app.stage.addChild(goblin);

        //game loop
        let elapsed = 0.0;

        app.ticker.add((delta) => {
            elapsed += delta;
            goblin.x = 100.0 + Math.cos(elapsed/50.0) * 100.0;
        });
    </script>
{% endblock %}


