@charset "UTF-8";
#heading {
	float: none;
	clear: both;
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
	text-align: center;
	font-variant: normal;
	font-weight: normal;
	font-size: 120px;
	text-shadow: 5px 5px #FFFFFF;
	color: #5C6A08;
}

